html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
#sensor-data {
    width: 100%;
}
.sensor-data-container {
    min-width: 100%;
    max-height: 18vh;
}